/*
*, ::after, ::before {
	box-sizing: inherit !important;
}

body {
	width: 800px;
	margin: 0 auto !important
}

h1 {
	text-align: center
}

input, select {
	padding: 4px
}

input {
	width: 55px
}

label {
	font-size: 18px
}
*/

.square-inside {
	list-style: square inside;
}

.bt-border-radius {
	border-radius: 10px;
}

.jumbotron {
	padding: initial !important;
}

.card-padding {
	padding: 16px
}

/*
.card-size {
	width: 68px !important
}
*/

.cards {
	display: table;
	margin: 0 auto
}

.hide {
	display: none !important;
}

.show {
	display: inline-block !important
}

.visible {
	display: block;
}

.wrap-image {
	display: inline-block;;
}

.enable-click {
	pointer-events:all !important;
}

.disable-click {
	pointer-events:none !important;
}

/*
.cards img {
	vertical-align: baseline;;
}
*/

.buttonBox {
    position: absolute;
    bottom:0;
    right:0;
}

.opacity {
	filter: brightness(60%);
	-webkit-filter: brightness(60%);
	-moz-filter: brightness(60%);
	-o-filter: brightness(60%);
	-ms-filter: brightness(60%);
}

.enable-select {
	-webkit-touch-callout: all; /* iOS Safari */
	-webkit-user-select: all; /* Safari */
	-khtml-user-select: all; /* Konqueror HTML */
	-moz-user-select: all; /* Firefox */
	-ms-user-select: all; /* Internet Explorer/Edge */
	user-select: all; /* Non-prefixed version, currently
	supported by Chrome and Opera */
}

.disable-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

@media screen and (max-width: 768px) {
  [data-notify="container"] {
		max-width: inherit !important;
		width: auto !important;
		left: 20px !important;
	}
}

@media screen and (max-width: 532px) {
    .dropdown {  display: block; }
		.tab-links { display: none;}
}

@media screen and (min-width: 533px) {
    .dropdown {  display: none !important; }
}

.cancel-tab-property-li {
	margin: unset !important;
	float: unset !important;
}

.cancel-tab-property-a {
	padding: .25rem 1.5rem !important;
	font-size: inherit !important;
	font-weight: inherit !important;
}

.cancel-tab-property-a:hover {
	color: #16181b !important;
	text-decoration: none !important;
	background-color: #f8f9fa !important;
}

.cancel-tab-property-a:focus {
	background: inherit !important;
	color: inherit !important;
}

.dropdown li.active a, .dropdown li.active a:hover {
	background: unset !important;
	color: unset !important;
}

.dropdown button:hover {
	background-color: #343a40;
	border-color: #343a40;
}
